  /* Загальні стилі для всіх елементів */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Головний блок заповнює всю висоту */
}

/* Головний контейнер */
.container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Головний блок заповнює весь екран */
}

/* Стилі для всіх блоків */
.header-left, .header-right, .left-menu, .right-menu, .content, .footer-left, .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: 1px solid #ddd; /* Світло-сіра рамка */
    font-size: 16px;
    text-align: center;
}

/* Колір фону для блоків */
.header-left, .footer-left {
    background-color: #f7c775; /* Жовтий фон */
}
.header-right, .left-menu, .right-menu {
    background-color: #fff; /* Білий фон */
}
.content {
    background-color: #fff; /* Без жовтого фону */
}
.footer-right {
    background-color: #f7c775; /* Жовтий фон */
}

/* Стилі для тексту */
.header-right {
    color: red; /* Червоний колір тексту */
    font-weight: bold; /* Жирний шрифт */
}

.footer-left {
    color: blue; /* Синій колір тексту */
    font-weight: bold; /* Жирний шрифт */
}
