body 
{
    background-image: url('4.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p 
{
    font-style: italic;
    font-size: 18px;
}
h1 {
    font-weight: bold;
    text-align: center;
    color:black;
    font-style: normal;
}
.left-img 
{
    float: left;
    margin: 0 15px 15px 0;
}
.right-img 
{
    float: right;
    margin: 0 0 15px 15px;
}
a:link 
{
    color: blue; /* Колір для не відвіданих посилань */
    text-decoration: none;
}

a:visited 
{
    color: purple; /* Колір для відвіданих посилань */
}

a:hover 
{
    color: green; /* Колір під час наведення */
    text-decoration: underline;
}

a:active 
{
    color: red; /* Колір під час натискання */
}
