:root {
  --primary: #6d5dfc;  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;  --greyLight-2: #c8d0e7;
  --greyDark: #9baacf;
}

html {

  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  background: var(--greyLight-1);

}

body {
  font-weight: bold;
  line-height: 1.6;
  font-family: 'Fira Mono', monospace;
}
/* container */
.container{
  width: 100%;

}

*
{
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Fira Mono', monospace;
  text-align: center;
  font-size: 100px;
}



/* HEADER */
.header {
  width: 100%;
  padding-top: 15px;
  box-shadow: 0 20px 40px rgba(18, 34, 64, 0.1);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header_inner {
  display: flex;
}


/* NAV */
.nav {
  margin-left: -50px;
  font-size: 15px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  user-select: none;

}
.nav_link1 {
  position: relative;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 15px 60px;
  margin: 20px;
  text-decoration: none;
  color: #000000;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.5s;

  font-size: larger;
}

.nav_link {
  font-family: 'Fira Mono', monospace;
  position: relative;
  border-radius:24px;
  margin: 20px;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: .5s ease-in-out;


  font-size: larger;
}

.nav_link:hover{
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  opacity: 1;
}

/* NAVBAR SOCIAL */

.navbar {
  margin-right: 20px;
  display: inline-flex;
  position: relative;

  width: 400px; height: 60px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: 0.5s;
}
.navbar__item {
  width: 70px;
  height: 70px;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.navbar__item::before, .navbar__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  border-radius: 50%;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.55s cubic-bezier(0.71, 0.03, 0.23, 0.95);
}
.navbar__item::after {
  box-shadow: 0 7px 15px currentColor;
}
.navbar__item.-black {
  color: #000000;
}
.navbar__item:hover::before, .navbar__item:hover::after {
  transform: translateY(58px) scale(1.1);
}
.navbar__item:hover::before {
  opacity: 1;
}
.navbar__item:hover::after {
  opacity: 0.4;
}
.navbar__item:hover .navbar__icon {
  transform: translateY(58px) scale(1.25);
  color: #fff;
  transition-delay: 0.1s, 0.1s;
}
.navbar__icon {
  transition: all 0.5s cubic-bezier(0.71, 0.03, 0.23, 0.95);
  transition-delay: 0.1s;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.skull {
  width: 70px;
  height: 70px;
  position: absolute;
  text-align: center;
  left:50%;
  transform:translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  animation: scrolling-skull 2s forwards, spinning-skull 2s linear infinite;
}


@keyframes spinning-skull {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes scrolling-skull {

  100% {
    transform: translateX(0%);
  }
}


::-webkit-scrollbar {
  width: 6px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}


.student {
  font-family: 'Fira Mono', monospace;
  margin-top: 30px;
  text-decoration: underline;
  text-align: end;
  font-size: 50px;

}

.prof {
  margin-top: -75px;
  font-family: 'Fira Mono', monospace;
  text-align: center;
  font-size: 80px;
}


.clock {
  &-day {
    &:before {
      content: var(--timer-day);
    }
  }
  &-hours {
    &:before {
      content: var(--timer-hours);
    }
  }
  &-minutes {
    &:before {
      content: var(--timer-minutes);
    }
  }
  &-seconds {
    &:before {
      content: var(--timer-seconds);
    }
  }
}


.clock {
  &-container {
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 63%;
    opacity: 70%;
    background-color: #080808;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
    display: flex;
  }
  &-col {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    min-width: 90px;
    position: relative;
    &:not(:last-child):before,
    &:not(:last-child):after{
      content: "";
      background-color: rgba(255,255,255,.3);
      height: 5px;
      width: 5px;
      border-radius: 50%;
      display: block;
      position: absolute;
      right: -42px;
    }
    &:not(:last-child):before {
      top: 30%;
    }
    &:not(:last-child):after {
      top: 44%;
    }
  }
  &-timer {
    &:before {
      color: #fff;
      font-size: 4.2rem;
      text-transform: uppercase;
    }
  }
  &-label {
    color: rgba(255,255,255,.35);
    text-transform: uppercase;
    font-size: .7rem;
    margin-bottom: 10px;
  }
}

.text_main {
  margin-top: 40px;
}

@media (max-width: 1440px) {
  .nav_link {
    padding-left: 2px;
  }

  .clock-container {
    display: flex;
    justify-content: left;
    margin-left: 0.5%;
  }

  .clock {
    &-container {
      margin-top: 40px;
      margin-right: 92%;
      opacity: 70%;
      background-color: #080808;
      border-radius: 60px;
      box-shadow: 1px 1px 5px rgba(255, 255, 255, .15), 0 15px 90px 30px rgba(0, 0, 0, .25);
      position: absolute;
      left : 27.5%;
    }
  }
  .text_main {
    margin-top: 150px;
    font-size: 70px;
  }
  .prof {
    font-size: 50px;
  }
  .navbar__icon.always {
    margin-left: 35px;
  }

}

.nav1 {
  margin-top: 25px;
}


