* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Task1/img/kit.jpg'); /* Вказуємо шлях до картинки */
    background-size: cover; /* Картинка заповнює весь екран */
    background-position: center; 
    background-attachment: fixed; /* Картинка не рухається при прокручуванні сторінки */
}

.form-container {
    width: 400px;
    padding: 20px;
    background-color: #f1dbdb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dac6c6;
    border-radius: 4px;
}

textarea {
    resize: vertical; /* Дозволяє зміну розміру тільки по висоті */
    height: 100px; /* Початкова висота */
    max-height: 140px; 
    width: 100%; /* Зберігає повну ширину */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #98c29a;
}

#successMessage {
    color: #81c383;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}

p {
    padding-bottom:5px ;
    text-decoration: underline;
}
